<div class=" navbar navbar-default navbar-static-top top_level_dash">
  <div class="container">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <div class="row">
        <div class="col-sm-3">
          <a href="" class="navbar-brand">BlogPost</a>
        </div>
        <div class="col-sm-6">
          <div class="widget search"> 
            <div class="input-group add-on">
              {{input id="filter" value=searchFilter type="text" class="form-control" placeholder= "Search..."}}
              <div class="input-group-btn">
                <button class="btn btn-danger"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <ul class="set_new_post">
            <a href="new">New Post</a>  
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
    </div>
  </div>
</div>

{{outlet}}
