<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"> 
  <div class="show-blog-post listing-radius">
    <div class="listing-content">
      <h1 class="lead post-title">{{#link-to 'post'}}{{model.title}}{{/link-to}}</h1>
      <div class="show-post-content">
        {{model.body}}
      </div>
    </div>
    <div class="row blog-show-page">
      <div class="blog-post-author">
        {{#link-to 'post.edit' class="btn btn-danger btn-xs"}}Edit{{/link-to}}
      </div>
    </div>
  </div>
</div>