<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
  <div class="show-blog-post listing-radius">
    <div class="listing-content">
      <h1 class="lead post-title">Edit Post</h1>
      <div class="row post-content">
        {{input value=model.title class="form-control"}}
      </div>
      <div class="row post-content">
        {{textarea rows="4" cols="50" value=model.body class="form-control"}}
      </div>
    </div>
    <div class="row blog-show-page">
      <div class="blog-post-author">
        <button {{action "saveChanges"}} class="btn btn-primary btn-xs">Save</button>
        
        <button {{action "cancel"}} class="btn btn-warning btn-xs">cancel</button>
      </div>
    </div>
  </div>
</div>      
